.stack {
  padding-top: 150px;
}
.title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 40px 0;
}
.subtitle {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.stack_icons {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px 100px;
}
.stack_icons img:nth-child(13),
.stack_icons img:nth-child(11) {
  filter: brightness(0);
}

.stack_icons img:nth-child(14) {
  width: 120px;
}
.darckIcon img:nth-child(13),
.darckIcon img:nth-child(11) {
  filter: brightness(1);
}
