.proj {
  padding: 100px 0 150px 0;
}
.title {
  /* color: rgb(66, 68, 110); */
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
.subtitle {
  text-align: center;
  margin: 50px 0 90px 0;
  /*  color: rgb(102, 102, 102); */

  font-size: 32px;
  font-weight: 400;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
}
.card img {
  width: 375px;
  border-radius: 20px 20px 0 0;
}

.card {
  box-sizing: border-box;
  padding-bottom: 28px;
  border-radius: 20px;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: background 0.9s, transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card_title {
  max-width: 319px;
  margin: 27px 28px 17px 28px;
  font-size: 20px;
  font-weight: 500;
}
.stack {
  margin: 0 0 21px 28px;
  /* color: rgb(66, 68, 110); */
  font-size: 16px;
  font-weight: 400;
}
.stack span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.footer {
  margin: 0 28px;
  display: flex;
  justify-content: space-between;
}
.live,
.code {
  display: flex;
}
.live img,
.code img {
  box-sizing: border-box;
  width: 20px;
  margin: auto 12px auto 0;
  filter: brightness(0);
}
.live a,
.code a {
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}
.darkCards {
  background: #191919;
  border: 1px solid black;
  transition: background 0.9s, transform 0.2s;
}
.darkIcon img {
  filter: brightness(1);
}
.darkIcon a {
  color: white;
}
