.contact {
  padding-top: 150px;
  height: 88.69vh;
}
.title {
  color: rgb(30, 14, 98);
  font-size: 58px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 150px;
}
.title a {
  position: relative;
  background: linear-gradient(to right, rgb(19, 176, 245), rgb(231, 15, 170));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: linear-gradient(to right, rgb(19, 176, 245), rgb(231, 15, 170));
  transition: height 0.3s;
}

.title a:hover::after {
  height: 4px;
}
